:root {
    --fadebase: rgba(255, 255, 255, 20%)
}

body {
    background-color: black;
    color: white;
}

.fadeContainer {
    padding: 10px;
    background-color: var(--fadebase);
}

.mainSection {
    min-height: 80%;
}

.outerContainer {
    margin: 10px 10%;
}

#ricky {
    opacity: 0;
    float: none;
    display: inline-block;
    margin-left: 0px;
}

#home {
    float: none;
    display: inline-block;
    margin-left: 0px;
}

#ricky:hover {
    visibility: visible;
    opacity: 10%;
}

.navBar {
    float: right;
    margin: 0px 0px 10px 10px;
    padding: 10px;
    background-color: var(--fadebase);
}

a.navBar {
    color: inherit;
    text-decoration: none;
    font-family: "Epunda Slab", serif;
}

.navBar:hover {
    background-color: rgba(255, 255, 255, 30%);
    cursor: pointer;
}

#masks {
    z-index: 2;
    width: 80%;
    margin: auto;
    display: block;
    height: 150px;
    margin-top: 25px;
    margin-bottom: 25px;
    background-image: url(../images/drama\ ribbon.svg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

#logo {
    float: left;
    position: absolute;
}

.mainSection p {
    font-family: Garamond, Times, serif;
    text-align: justify;
    text-indent: 50px;
    font-size: 1.2em;
}

.heading {
    font-family: "Epunda Slab", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    text-align: center;
    letter-spacing: 5px;
    text-transform: uppercase;
}

.subh {
    font-style: italic;
    font-weight: 300;
    text-transform: none;
}

.footer{
    width: 100%;
    text-align: center;
}

.socials{
    font-size: 1.5em;
    position: inherit;
    width: 100%;
}

.socials a{
    color: white;
    text-decoration: none;
    background-color: rgba(255, 255, 255, 60%);
    background-clip: padding-box;
    border: 8px solid rgba(255, 255, 255, 30%);
    margin: 10px;
    padding: 0.4em;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    text-align: center;
}

.socials svg{
    width: 1.5em;
}

.socials a:hover{
    background-color: rgba(255, 255, 255, 70%);
    border: 8px solid rgba(255, 255, 255, 35%);
}

.contact {
    font-size: 1.2em;
    text-align: center;
    font-family: "Epunda Slab", serif;
}

.contact a{
    color: inherit;
    text-decoration: none;
}

.contact a:hover{
    text-decoration: underline;
}

.centered, .centered p {
    text-align: center;
}

.mainSection button {
    font-family: Garamond, Times, serif;
    text-align: justify;
    font-size: 1.2em;
    background-color: rgba(255, 255, 255, 40%);
    border-color: transparent;
    border-radius: 3px;
}

.mainSection button:hover {
    background-color: rgba(255, 255, 255, 60%);
    cursor: pointer;
}

/* meet the eboard table stuff */

.photo img{
    height: 300px;
    width: 300px;
    border-radius: 50%;
    object-fit: cover;
}

#connorPhoto {
    position: relative;
}

.exiled {
    position: absolute;
    left: 0;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding: 10px;
    font-size: 3em;
    background-color: red;
    border-radius: 5px;
    left: 10%;
    transform-origin: left top;
    z-index: 3;
}

.eboardtable {
    border-collapse: separate;
    border-spacing: 20px 0px;
    margin: 20px 0px;
}

.eboardtable td{
    text-align: center;
    background-color: var(--fadebase);
    padding: 10px;
    position: relative;
}

.eboarddiv {
    background-color: var(--fadebase);
    overflow-x: scroll;
}

hr {
    border-style: solid;
    border-color: var(--fadebase);
}

.eboarddiv hr {
    position: absolute;
    bottom: 0px;
    width: 80%;
    margin: auto;
    left: 10%;
    border-radius: .75px;
}